
.container_header{


}
.header_name_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.date_seen{
    position: relative;
    font-size: 11px;
    margin: 0 !important;
}
.data_username_profill{
    position: relative;
    margin: 0 !important;
}
.container_chat_ui{
    display: grid;
    grid-template-columns: 423px 1fr;
    grid-template-rows: 1fr 91.5vh;
}
main{
    background: red;
    grid-column: 2;
}
menu{
    background: blue;
    display: none;
}
aside{
    background: gold;
    grid-column: 1;
    grid-row: 1/-1;
    height: 100vh;
    z-index: 1000;
}
.icons{
    width: 26px;
}
.icons_header{
    position: relative;
    display: flex;
    gap: 18px;
}
.profile_information{
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.MuiPaper-root{
    position: relative !important;
    height: 62px;
    z-index: 1000 !important;
   
}
.MuiToolbar-root{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;

}
.css-1orzy9s {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
}